body {
  background-image: radial-gradient(circle farthest-corner at right bottom, #EF0000 0%, #000000 100%);
  background-image: -webkit-radial-gradient(right bottom, circle farthest-corner, #EF0000 0%, #000000 100%);
  font-family: Marmelad;
}
#main {
  width: 600px;
  margin: 0 auto 20px;
  border-radius: 10px;
  background: #EEE8CD;
  padding: 30px;
  box-shadow: 5px 0px 20px #000;
  
  header {
    h1 {
      margin-bottom: 20px;
    }
    text-align: center;
  }
}

.deck-list {
  width: 300px;
  margin: 20px auto 0;
  
  h2 {
    margin-bottom: 10px;
  }
  
  .deck {
    margin-bottom: 10px;
  }
}

.deck-form {
  text-align: center;
  margin-top: 10px;
  
  .input-append {
    margin-bottom: 10px;
  }
}

.tooltip {
  font-family: arial;
}

.card-form {
  text-align: center;
}
.card-form textarea {
  height: 200px;
}