<header>
<h1>Create a Deck</h1>
</header>
<div class="deck-form">
  <%= form_for(@deck) do |form| %>
    <div class="input-append">
      <%= form.text_field :name, placeholder: "Deck name", class: "span2" %><%= form.submit "Go", class: "btn btn-success" %>
    </div>
  <% end %>
    <%= link_to "/decks" do %> <i class="icon-circle-arrow-left"></i> Go Back <% end %>
</div>