<header>
  <h1>Flash... AAAAAAAAaaaaaa</h1>
  <img src="http://upload.wikimedia.org/wikipedia/en/7/74/Flash_Rei.png" />
</header>
<section>
  <div class="deck-list">
    <h2>Deck: <%= @deck.name %></h2>
    <ul class="unstyled" id="sortable">
    
    <%= render @cards %>

    </ul>
    <%= link_to decks_path do %><i class="icon-circle-arrow-left"></i> Go Back<% end %>
    <%= link_to new_deck_card_path(@deck), class: "btn btn-success", style: 'float:right;' do %><i class="icon-plus"></i> New Card<% end %>
    <div style="clear:both;"></div>
  </div>
</section>